@import './helpers.css';
body{
  margin:0;
  padding: 20px;
}

.App {
  text-align: center;
}
.custom-overlay{
  background-color: rgba(31, 102, 160, 0.589)
}
.custom-content{
  border-radius: 10px;
}

input,button {
  margin : 7px 0;
}

